
.register {
  width: 100%;
  height: calc(100vh - 80px);
  margin: auto;
  padding: 10px;
  color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFontFamily);
  /* background: url(../images/macwallpaper.jpg) no-repeat fixed center / cover; */
}

.register section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lavenderColor); 
  width: 50%;
  padding: 20px; 
  /* border-radius: 10px; */
  position: relative;
  backdrop-filter: blur(5px);
  position: relative;
}
section .websitehomelink{
  text-decoration: none;
  font-size: 0.8rem;
  position: absolute;
  right: 2%;
  top: 2%;
  color: var(--primaryColor);
  cursor: pointer;
  opacity: 0.7;
}
section h1 {
  background: url(../images/macwallpaper.jpg) center / cover;
  background-clip: text;
  color: transparent;
  font-size: 2.5rem; 
}

form {
  width: calc(100% - 20%); 
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px; 
  font-weight: bold;
  font-size: 0.8rem;
}


input, textarea {
  margin-bottom: 8px; 
  padding: 8px;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  font-family: var(--primaryFontFamily);
  color: var(--primaryColor);
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
}
textarea {
  white-space: pre-wrap;
}
.imageInput .icon{
  color: var(--primaryColor);
}

.imageInput{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  /* background: url(../images/imageUploadImage.png) center/cover; */
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.167);
}
.imageInput > *{
  font-size: 5rem;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  color:  var(--lavenderColor);
}
.usernameField{
  text-transform: lowercase;
}
.error{
  color: var(--highlightColor);
  font-size: 0.6rem;
  margin-top: -5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem; 
  display: grid;
  place-items: center;
  transition: background-color 0.3s ease;
  margin-top: 7px;
}
.circle{
  color: var(--lavenderColor);
  animation: circle 2s linear infinite ;
  font-size: 1.4rem;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button:hover {
  background-color: #0056b3;
}

.linkWarp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: calc(100% - 20%);
  margin-top: 15px; 
}

.linkWarp a {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
}

.linkWarp a:hover {
  text-decoration: underline;
}

.linkWarp p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--lavenderColor);
}

/* .footer {
  margin-top: 25px;
  font-size: 12px;
  color: #555;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
} */



/* // register page css  */

.notification{
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 10px;
  /* border-radius: 10px; */
  background-color: var(--lavenderColor);
  border: 3px solid #007bff;
  text-transform: uppercase;
  & > *{
    color: #0056b3;
  }
}
.notification.active {
  display: none;
}

.error-message{
  color: gold;
}

@media only screen and (max-width: 1300px) { 
  
.register {
  width: 100%;
  height: calc(100vh - 80px);
  margin: auto;
  padding: 10px;
  color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFontFamily);
}

.register section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lavenderColor); 
  width: 100%;
  padding: 10px; 
  /* border-radius: 10px; */
  position: relative;
  backdrop-filter: blur(5px);
  position: relative;
}
}